FileList/Service References/FileBrowserServiceReference/item31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5000/FileServer/FileBrowserService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileServer" />
  <xs:element name="RequestFileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestFileListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FileListChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FileServer" minOccurs="0" name="fileList" nillable="true" type="q1:ArrayOfFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileListChangedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>